.main{
  padding: 10px;
  height: 100vh;
  
}
.layout{
  display: flex;
}
.sidebar{
  min-height: 100%;
  width: 300px;
  border-radius: 5px;

  box-shadow: 0 0 2px gray;
  margin-right: 20px;
}

.content{
  width: 100%;
  height: 100%;
}

.header{
  height: 10vh;
  margin-bottom: 20px;
  box-shadow: 0 0 2px gray;
  /* background-color: white; */
}

.body{
  height: 85vh;
  margin-bottom: 20px;
  box-shadow: 0 0 2px gray;
  /* background-color: white; */

}

.logo h6{
  font-size: 1.5rem;
  text-align: center;
  margin: 20px 0px;
}
.menu{
  margin-top: 50px;
}
.menu-item{
  margin-top: 30px;
}
.menu-item a{
  /* color:aliceblue; */
  text-decoration: none;
  font-size: 1.2rem;
}

.menu-item i{
  font-size: 1.2rem;
  margin: 0 15px;
}

.active{
  background-color: rgb(237, 225, 225);
  padding: 10px;
}

.active a,.active i{
  color: rgb(93, 32, 151);
}

.header-content{
  display:  flex;
  align-items: center;
  height: 50px;
  justify-content: flex-end;
  margin: 0 15px;

}

.header-content i{
  margin-left: 20px;
  font-size: 1.2rem;
}

.header-content a{
  text-decoration: none;
  color: blueviolet;
  font-size: 1.2rem;
  text-transform: uppercase;
}